{% extends 'base.html' %} 
{% block title %} Search Tag {% endblock %}
{% block content %} {% load static %}

{% block css %}
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
{% endblock css %}

<h1>All Tags</h1>
<br /><br/>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for usernames..">
<table class="highlight" >
  <thead>
    <tr>
      <th>Username</th>
      <th>Platform</th>
      <th>Date Met</th>
    </tr>
  </thead>
  <tbody>
    {% for tag in object_list %}
    <tr>
      <td data-title="Username">
        <a href="{% url 'tag_display' tag.pk %}">{{ tag.username }}</a>
      </td>
      <td data-title="Platform">
        {{ tag.get_platform_display }} 
      </td>
      <td data-title="Link">{{ tag.time_met }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
<br />


{% block javascript %}
<script>
  function myFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>
{% endblock javascript %}

{% endblock %}