{% extends 'base.html' %} 
{% block title %} Search Tag {% endblock %}
{% block content %} {% load static %}

{% block css %}
<head>
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
</head>
{% endblock css %}

<h1>All Tags</h1>
<br /><br/>

<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
      <tr>
        <th>Username</th>
        <th>Platform</th>
        <th>Date Met</th>
      </tr>
  </thead>
  <tbody>
    {% for tag in object_list %}
    <tr>
      <td data-title="Username">
        <a href="{% url 'tag_display' tag.pk %}">{{ tag.username }}</a>
      </td>
      <td data-title="Platform">
        {{ tag.get_platform_display }} 
      </td>
      <td data-title="Link">{{ tag.time_met }}</td>
    </tr>
    {% endfor %}
  </table>

<!--
<table class="highlight" >
  <thead>
    <tr>
      <th>Username</th>
      <th>Platform</th>
      <th>Date Met</th>
    </tr>
  </thead>
  <tbody>
    {% for tag in object_list %}
    <tr>
      <td data-title="Username">
        <a href="{% url 'tag_display' tag.pk %}">{{ tag.username }}</a>
      </td>
      <td data-title="Platform">
        {{ tag.get_platform_display }} 
      </td>
      <td data-title="Link">{{ tag.time_met }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
<br />
-->

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

<script>
  $(document).ready(function() {
    $('#example').DataTable();
  } );
</script>
{% endblock javascript %}

{% endblock %}