{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block content %}

{% load static %}
{% load materializecss %}
{% block css %}
<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
</header>
{% endblock css %}

<h1 style="font-size: 30px;" id="right-move">Change Password</h1>
<hr>
<br/>
<form method="POST">
  {% csrf_token %}
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s8">
          {{ form.old_password|materializecss:"icon=lock" }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          {{ form.new_password1|materializecss:"icon=lock_open" }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          {{ form.new_password2|materializecss:"icon=lock_outline" }}
        </div>
      </div>
      <div class="row">
        <div class="col s8">
          <ul style="font-size: 15px;" id="pwd-change-field">
            <li>Your password can’t be too similar to your other personal information.</li>
            
            <li>Your password must contain at least 8 characters.</li>
            
            <li>Your password can’t be a commonly used password.</li>
            
            <li>Your password can’t be entirely numeric.</li>
        </ul>
        </div>
      </div>
      </div>
      <br/>
      <button class="btn btn-primary" id="right-move">Submit</button>
      <br/><br/>
    </form>
  </div>
</form>

<br>
<br/>

{% block javascript %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

  // Initialize materialize data picker
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});

  $('select').formSelect();
  $('select').material_select();
});
</script>
{% endblock javascript %}

{% endblock %}
