{% extends 'base.html' %}

{% block title %} Edit Profile {% endblock %}

{% block content %}

{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <!-- navbar css below -->
    <link
      href="https://fonts.googleapis.com/css?family=Encode+Sans"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<h1>Edit Profile</h1>
<hr>
<br/><br/>

<div class="col-7">
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_form.as_p }}
            {{ form.as_p }}
            <small>Click here to<a href="{% url 'change_password' %}"> Change Password</a></small>
            <br/><br/>
            <button class="btn btn-primary">Update</button>
    </div>
</div>

{% endblock %}
