{% extends 'base.html' %}

{% block title %} Edit Profile {% endblock %}

{% block content %}

<h1>Edit Profile</h1>
<hr>
<br/><br/>

<div class="col-7">
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_form.as_p }}
            {{ form.as_p }}
            <small>Click here to<a href="{% url 'change_password' %}"> Change Password</a></small>
            <br/><br/>
            <button class="btn btn-primary">Update</button>
    </div>
</div>

{% endblock %}
