{% extends 'base.html' %} {% block content %} {% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />
  <!-- navbar css below -->
  <link
    href="https://fonts.googleapis.com/css?family=Encode+Sans"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<h2>Recent Tags</h2>
<br />
<div class="table-responsive-vertical shadow-z-1">
  <!-- Table starts here -->
  <table id="table" class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Tag Owner</th>
        <th>Date Met</th>
      </tr>
    </thead>
    <tbody>
      {% for tag in object_list %}
      <tr>
        <td data-title="Username">
          <a href="{% url 'tag_display' tag.pk %}">{{ tag.username }}</a>
        </td>
        <td data-title="Tag Owner">{{ tag.user }}</td>
        <td data-title="Link">{{ tag.time_met }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br />

{% endblock %}
