{% extends 'base.html' %}
{% block title %}View Profile{% endblock %}
{% block content %}

{% load static %}
{% load materializecss %}

{% block css %}
<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
</header>
{% endblock css %}

<h1 style="font-size: 30px;">Create A Profile</h1>
<hr>
<br/><br/>
<form method="POST">
  {% csrf_token %}
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s8">
          {{ form.username|materializecss }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          {{ p_reg_form.name|materializecss }}
        </div>
      </div>
  
      <div class="row">
        <div class="input-field col s8 pwd">
          {{ form.password1|materializecss }}
          
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8 pwd">
          {{ form.password2|materializecss }}
        </div>
      </div>
      <div class="row dropdown">
        <div class="input-field col s6">
          <select id="links" multiple>
            <option value="STM">Steam</option>
            <option value="XB">Xbox</option>
            <option value="PSN">PlayStation</option>
            <option value="DC">Discord</option>
          </select>
          <label>Choose Platforms</label>
        </div>
      </div>
      <div class="row" id="steam_link">
        <div class="input-field col s8">
          {{ p_reg_form.steam_id|materializecss }}
        </div>
      </div>
      <div class="row" id="playstation_link">
        <div class="input-field col s8">
          {{ p_reg_form.psn_id|materializecss }}
        </div>
      </div>
      <div class="row" id="xbox_link">
        <div class="input-field col s8">
          {{ p_reg_form.xbox_id|materializecss }}
        </div>
      </div>
      <div class="row" id="discord_tag">
        <div class="input-field col s8">
          {{ p_reg_form.discord_id|materializecss }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ p_reg_form.bio|materializecss }}
        </div>
      </div>
      <br/>
      <button class="btn btn-primary" style="float:left">Submit</button>
    </form>
  </div>
</form>
<br/><br/>

{% block javascript %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

  // Initialize materialize data picker
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});

  $('select').formSelect();
  $('select').material_select();
});
</script>

<script>
  //add each checkbox value
  $(function() {
      $("#steam_link").hide();
      $("#playstation_link").hide(); 
      $("#xbox_link").hide(); 
      $("#discord_tag").hide(); 
      $('#links').change(function(){
          if($('#links').val().includes("STM")) {
              $('#steam_link').show(); 
          } else {
              $('#steam_link').hide(); 
          }

          if($('#links').val().includes("XB")) {
              $('#xbox_link').show(); 
          } else {
              $('#xbox_link').hide(); 
          }

          if($('#links').val().includes("PSN")) {
              $('#playstation_link').show(); 
          } else {
              $('#playstation_link').hide(); 
          }

          if($('#links').val().includes("DC")) {
              $('#discord_tag').show(); 
          } else {
              $('#discord_tag').hide(); 
          }
      });
  });
</script>

{% endblock javascript %}


<!-- next step, hide/show divs based on select -->
{% endblock %}
