{% extends 'base.html' %}
{% block title %}View Profile{% endblock %}
{% block content %}

{% load static %}
{% load materializecss %}

{% block css %}
<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
</header>
{% endblock css %}

<h1 style="font-size: 30px;">Create A Profile</h1>
<hr>
<!---
<form method="post">
  {% csrf_token %}
  {{ form|materializecss }}
  {{ p_reg_form|materializecss }}
  <button class="btn btn-primary" style="float:left">Submit</button>
</form>
-->
<br/><br/>
<form method="POST">
  {% csrf_token %}
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s8">
          {{ form.username|materializecss }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          {{ p_reg_form.name|materializecss }}
        </div>
      </div>
  
      <div class="row">
        <div class="input-field col s8 pwd">
          {{ form.password1|materializecss }}
          
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8 pwd">
          {{ form.password2|materializecss }}
        </div>
      </div>
      <div class="row dropdown">
        <div class="input-field col s6">
          <select multiple>
            <option value="1">Steam</option>
            <option value="2">Xbox</option>
            <option value="3">PlayStation</option>
            <option value="4">Discord</option>
          </select>
          <label>Choose Platforms</label>
        </div>
      </div>
      <!-- save this for the platform links
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="http://www.mywebsite.com" id="website" type="text" class="validate">
          <label for="website">Website</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="contact@myweb.com" id="email" type="text" class="validate">
          <label for="email">Contact email</label>
        </div>
      </div>
      -->
      <div class="row">
            <div class="input-field col s12">
              {{ p_reg_form.bio|materializecss }}
            </div>
          </div>
    </form>
  </div>

<br/><br/>

{% block javascript %}
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

  // Initialize materialize data picker
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});

  $('select').formSelect();
  $('select').material_select();
});
</script>


{% endblock javascript %}


<!-- next step, hide/show divs based on select -->
{% endblock %}
