{% extends 'base.html' %}

{% block title %}Tag:  {{ tag.username }}{% endblock %}


{% block content %}


<h1><i>{{ tag.username }}</i></h1>
<p class="font-weight-light"><b>Platform:</b> {{ tag.get_platform_display }} </p>
<hr>
<br/>
<b>Tag Owner:</b><a href="{% url 'view_profile' tag.user.id %}"> {{ tag.user }}<a><br/>
{% if tag.id_link %}
    <b>Links:</b> {{ tag.id_link }}<br/>
{% endif %}
{% if tag.time_met %}
    <b>Last Seen:</b> {{ tag.time_met }}<br/>
{% endif %}
{% if tag.note %}
    <b>Note:</b> {{ tag.note }}<br/>
{% endif %}

<small>Date Filled: {{ tag.date_filled }}<br/>
{% if user.is_authenticated %}
    {% if user.id == tag.user.id %}
        <small><a href="{% url 'update_tag' tag.pk %}">(Edit)</a> <a href="{% url 'delete_tag' tag.pk %}">(Delete)</a> </small>
    {% endif %}
{% endif %}
<br/><br/>
<a href="{% url 'homepage' %}" class="btn btn-primary">Back</a>


{% endblock %}