{% extends 'base.html' %}

{% block title %} Update A Tag {% endblock %}

{% block content %}

{% load static %}
<link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet"> <link rel="stylesheet" href="{% static 'base/style.css' %}">

<h1>Update Tag</h1>
<hr>
<br/><br/>
<div class="col-7">
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary">Update</button>
    </div>
</div>
<br/><br/>
    

{% endblock %}


