{% extends 'base.html' %}
{% block title %}View Profile{% endblock %}
{% block content %}

{% load static %}
<link href="https://fonts.googleapis.com/css?family=Encode+Sans" rel="stylesheet"> <link rel="stylesheet" href="{% static 'base/style.css' %}">


<h1>{{ profile.user }}'s Profile</h1>
<hr>
{% if profile.name %}
    <b>Name:</b> {{ profile.name }}<br/>
{% endif %}
{% if profile.steam_id %}
    <b>Steam:</b> {{ profile.steam_id }}<br/>
{% endif %}
{% if profile.psn_id %}
    <b>PSN:</b> {{ profile.psn_id }}<br/>
{% endif %}
{% if profile.xbox_id %}
    <b>Xbox:</b> {{ profile.xbox_id }}<br/>
{% endif %}
{% if profile.discord_id %}
    <b>Discord:</b> {{ profile.discord_id }}<br/>
{% endif %}
{% if profile.bio %}
    <b>Bio:</b> {{ profile.bio }}<br/>
{% endif %}
<br/>
<a href="{{ request.META.HTTP_REFERER }}" class="btn btn-primary">Back</a>
{% endblock %}

