body {
  background: #202121;
  font-family: "Encode Sans", sans-serif;
}

h1 {
  color: #d0c9be;
}

h2 {
  color: #d0c9be;
}

/* navigation bar */
#scanfcode {
  border-radius: 0px;
  background: #272A2E;
  padding: 10px;
  font-size: 17px;
}
/* logo or main heading */
#logo {
  font-size: 20px;
  font-weight: bolder;
  color: #d0c9be;
  letter-spacing: 2px;
}
/* navigation links*/
#link a {
  color: #d0c9be;
  margin: 0 20px 0 10px;
  letter-spacing: 1.5px;
}
/* navigation link with right border */
#first-link {
  padding-right: 6px;
  border-right: solid 1px rgba(204, 204, 204, 0.514);
}
/* sign up link button and toggle button */
#button-link,
#toogle-button {
  color: #f2f2f2;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: #fa6a48;
  line-height: 17px;
}
#button-link a {
  color: #f2f2f2;
}
