{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

{% load static %}
{% load materializecss %}

{% block css %}
<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
</header>
{% endblock css %}

<h1 style="font-size: 30px;" id="right-move">Login</h1>
<hr>
<br/>
<form method="POST">
    {% csrf_token %}
    <form class="col s12">
      <div class="row">
        <div class="input-field col s8">
          {{ form.username|materializecss }}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          {{ form.password|materializecss }}
        </div>
      </div>
      <button class="btn btn-primary" style="float:left" id="right-move">Submit</button>
    </form>
  </form>


<br/><br/>

<strong id="right-move" style="font-size: 16px;">Don't have an account? Register <a href="{% url 'register' %}">here</a>.</strong>
<br/><br/>

{% block javascript %}
<script>
    var name = "{{ user.id }}";
    document.getElementById("user_js").value = name;
</script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){

  // Initialize materialize data picker
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
  $('select').formSelect();

});
</script>
{% endblock javascript %}

{% endblock %}
